# 1. Importing Libraries and Loading Data

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandasql as ps
import mysql.connector as ms

import warnings
warnings.filterwarnings('ignore')

In [39]:
df_info_clients = pd.read_csv('data/clients_informations.csv')
df_info_clients.head()

,amostra,id_cliente,id_unico_cliente,item_id,cep_cliente,cidade_cliente,estado_cliente,id_pedido,status_pedido,horario_pedido,...,pagamento_sequencial,pagamento_tipo,pagamento_prestacoes,pagamento_valor,review,categoria,categoria_ingles,cep_vendedor,cidade_vendedor,estado_vendedor
0,0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,1,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,...,1,credit_card,2,146.87,4,moveis_escritorio,office_furniture,8577,itaquaquecetuba,SP
1,1,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,1,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,...,1,credit_card,1,275.79,1,moveis_escritorio,office_furniture,8577,itaquaquecetuba,SP
2,2,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,2,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,...,1,credit_card,1,275.79,1,moveis_escritorio,office_furniture,8577,itaquaquecetuba,SP
3,3,f0ac8e5a239118859b1734e1087cbb1f,3c799d181c34d51f6d44bbbc563024db,1,92480,nova santa rita,RS,b1a5d5365d330d10485e0203d54ab9e8,delivered,2017-05-07 20:11:26,...,1,credit_card,7,140.61,3,moveis_escritorio,office_furniture,8577,itaquaquecetuba,SP
4,4,6bc8d08963a135220ed6c6d098831f84,23397e992b09769faf5e66f9e171a241,1,25931,mage,RJ,2e604b3614664aa66867856dba7e61b7,delivered,2018-02-03 19:45:40,...,1,credit_card,10,137.58,4,moveis_escritorio,office_furniture,8577,itaquaquecetuba,SP

## 1.1) Translating the dataframe

- **Amostra:**  id

- **id_cliente:** client_id

- **id_unico_cliente:**: client_specific_id

- **item-id:** item_id

- **cep_cliente:** client _postal_code

- **cidade cliente:** client_city

- **estado_cliente:** client_state

- **id_pedido:** order_id

- **status_pedido:** order_status

- **horario pedido:** order_date

- **pedido_aprovado:** order_approved (date and time that the order was approved)

- **pedido_entregador:** order_dliveryman (date and time that the order was leaving for delivery)

- **pedido_entregue:** order_delivery (date and time that the order was delivery to the client)

- **data_estimada:** order_estimated (estimate date that the order will arrive to the client)

- **id_vendedor:** salesman_id

- **preco:** order_price (price of the order in reais (R$))

- **frete:** delivery_price

- **pagamento_sequencial:** sequence_pay

- **pagamento_tipo:** paymeny_type

- **pagamento_prestacoes:**  divided_pay (number of parcels that the client will pay the order's value)

- **pagamento_valor:** ntotal_price (order's price + dlivery's price)

- **review:** review (stars rating of the client)

- **categoria:** category (product's category)

- **categoria_ingles:** category_english (product's category in english)

- **cep_vendedor:** salesman_postal

- **cidade_vendedor:** salesman_city

- **estado_vendedor:** salesman_state

In [40]:
#Rename the columns
new_columns = [ 'id',  'client_id', 'client_specific_id', 'item_id', 'client _postal_code', 'client_city', 'client_state', 'order_id', 'order_status', 'order_date', 'order_approved', 'order_dliveryman',
               'order_delivery', 'order_estimated', 'salesman_id', 'order_price', 'delivery_price', 'sequence_pay', 'paymeny_type', 'divided_pay', 'total_price', 'review', 'category', 'category_english',
               'salesman_postal', 'salesman_city', 'salesman_state']

df_info_clients.columns = new_columns

# 2) Data Caracteristics

In [41]:
print('Number of Rows: {}'.format( df_info_clients.shape[0] ) )
print( 'Number of Columns: {}'.format( df_info_clients.shape[1] ) )

Number of Rows: 116581
Number of Columns: 27

In [42]:
#type of the columns
print('Data Types')
df_info_clients.dtypes

Data Types

id                       int64
client_id               object
client_specific_id      object
item_id                  int64
client _postal_code      int64
client_city             object
client_state            object
order_id                object
order_status            object
order_date              object
order_approved          object
order_dliveryman        object
order_delivery          object
order_estimated         object
salesman_id             object
order_price            float64
delivery_price         float64
sequence_pay             int64
paymeny_type            object
divided_pay              int64
total_price            float64
review                   int64
category                object
category_english        object
salesman_postal          int64
salesman_city           object
salesman_state          object
dtype: object

In [43]:
# Convert datas from object to date_time
df_info_clients[["order_date"]] = df_info_clients[["order_date"]].apply(pd.to_datetime)
df_info_clients[["order_approved"]] = df_info_clients[["order_approved"]].apply(pd.to_datetime)
df_info_clients[["order_dliveryman"]] = df_info_clients[["order_dliveryman"]].apply(pd.to_datetime)
df_info_clients[["order_delivery"]] = df_info_clients[["order_delivery"]].apply(pd.to_datetime)
df_info_clients[["order_estimated"]] = df_info_clients[["order_estimated"]].apply(pd.to_datetime)

In [44]:
print("Check Null Values")
df_info_clients.isna().sum()

Check Null Values

id                        0
client_id                 0
client_specific_id        0
item_id                   0
client _postal_code       0
client_city               0
client_state              0
order_id                  0
order_status              0
order_date                0
order_approved           14
order_dliveryman       1213
order_delivery         2515
order_estimated           0
salesman_id               0
order_price               0
delivery_price            0
sequence_pay              0
paymeny_type              0
divided_pay               0
total_price               0
review                    0
category                  0
category_english          0
salesman_postal           0
salesman_city             0
salesman_state            0
dtype: int64

In order to analyse the status of the null values

In [45]:
mask = df_info_clients['order_approved'].isnull() | df_info_clients['order_dliveryman'].isnull() | df_info_clients['order_delivery'].isnull()

# group the rows by order_status and count the ids for each order_status
df_info_clients[mask].groupby('order_status')['id'].count()

order_status
approved          3
canceled        546
delivered        23
invoiced        364
processing      362
shipped        1225
unavailable       7
Name: id, dtype: int64

It is possible to see that only 23 of the null values are erros, because the status is "delivered" but they do not have: 
- the date of order approval 

or 
- the date that the order was leaving for delivery 

or 
- the date that the order was delivery to the client

For this reason, I will delete these values.

In [46]:
df_info_clients[(df_info_clients['order_approved'].isnull() | df_info_clients['order_dliveryman'].isnull() | df_info_clients['order_delivery'].isnull()) & (df_info_clients['order_status'] == 'delivered')].iloc[:, 8:14]

,order_status,order_date,order_approved,order_dliveryman,order_delivery,order_estimated
16871,delivered,2017-02-18 15:52:27,NaT,2017-02-23 03:09:14,2017-03-07 13:57:47,2017-03-29
16920,delivered,2017-01-19 22:26:59,NaT,2017-01-27 11:08:05,2017-02-06 14:22:19,2017-03-16
16993,delivered,2017-02-19 01:28:47,NaT,2017-02-23 03:11:48,2017-03-02 03:41:58,2017-03-27
33010,delivered,2017-01-19 12:48:08,NaT,2017-01-25 14:56:50,2017-01-30 18:16:01,2017-03-01
38344,delivered,2017-02-18 11:04:19,NaT,2017-02-23 07:23:36,2017-03-02 16:15:23,2017-03-22
48622,delivered,2017-05-25 23:22:43,2017-05-25 23:30:16,NaT,NaT,2017-06-23
57919,delivered,2018-06-08 12:09:39,2018-06-08 12:36:39,2018-06-12 14:10:00,NaT,2018-06-26
59100,delivered,2017-02-18 22:49:19,NaT,2017-02-22 11:31:06,2017-03-02 12:06:06,2017-03-21
59101,delivered,2017-02-18 22:49:19,NaT,2017-02-22 11:31:06,2017-03-02 12:06:06,2017-03-21
62426,delivered,2017-02-18 12:45:31,NaT,2017-02-23 09:01:52,2017-03-02 10:05:06,2017-03-21
66914,delivered,2018-07-01 17:05:11,2018-07-01 17:15:12,2018-07-03 13:57:00,NaT,2018-07-30
66929,delivered,2018-07-01 22:05:55,2018-07-01 22:15:14,2018-07-03 13:57:00,NaT,2018-07-30
67094,delivered,2018-07-01 21:14:02,2018-07-01 21:29:54,2018-07-03 09:28:00,NaT,2018-07-24
71426,delivered,2017-02-18 14:40:00,NaT,2017-02-23 12:04:47,2017-03-01 13:25:33,2017-03-17
73976,delivered,2017-09-29 08:52:58,2017-09-29 09:07:16,NaT,2017-11-20 19:44:47,2017-11-14
77904,delivered,2017-11-28 17:44:07,2017-11-28 17:56:40,2017-11-30 18:12:23,NaT,2017-12-18
98880,delivered,2017-02-17 17:21:55,NaT,2017-02-22 11:42:51,2017-03-03 12:16:03,2017-03-20
99581,delivered,2018-06-20 06:58:43,2018-06-20 07:19:05,2018-06-25 08:05:00,NaT,2018-07-16
104130,delivered,2017-02-17 15:53:27,NaT,2017-02-22 11:31:30,2017-03-03 11:47:47,2017-03-23
107588,delivered,2017-02-17 13:05:55,NaT,2017-02-22 11:23:11,2017-03-02 11:09:19,2017-03-20
107630,delivered,2017-02-18 17:15:03,NaT,2017-02-22 11:23:11,2017-03-03 18:43:43,2017-03-31
107660,delivered,2017-02-18 16:48:35,NaT,2017-02-22 11:23:10,2017-03-09 07:28:47,2017-03-31
114997,delivered,2018-06-27 16:09:12,2018-06-27 16:29:30,2018-07-03 19:26:00,NaT,2018-07-19

In [47]:
# deleting null values of 'delivered' status

df_info_clients = df_info_clients[(df_info_clients['order_approved'].notnull() & df_info_clients['order_dliveryman'].notnull() & df_info_clients['order_delivery'].notnull()) | (df_info_clients['order_status'] != 'delivered')]

# 3) Classifying  customers

## 3.1) ABC method

Classifying customers may assist you to streamline your sales activities and help you focus on achieving the desired business goals. The ABC method is the most commonly used.

A - represents the â€˜top gradeâ€™ or â€˜idealâ€™ client in your business. They are 20% of the clients and generate more than 80% of the biling.

B - is a brilliant business customer. Represent 15% of the billing and they are 30% of the clients

C - low revelance for the business. The majority of the cliets correspond to only 5% of the revenue

In [48]:
print("There are "+ str(len(df_info_clients)) + " sales and " +
    str(len(df_info_clients['client_id'].unique())) + 
    " different clients " )

There are 116558 sales and 97233 different clients

In [49]:
#Clients that bought more than once
counts = df_info_clients['client_id'].value_counts()
id_good_clients = counts[counts>1].index.tolist()

print( str(len(id_good_clients)) +
    " clients bought more than once, which represents " +
    str(round(((len(id_good_clients)/len(df_info_clients['client_id'].unique()))*100),2)) +
    "%")

12728 clients bought more than once, which represents 13.09%

In [50]:
#separate the dataframe for only the good clients
df_good_clients = df_info_clients[df_info_clients['client_id'].isin(id_good_clients)]

In [51]:
print("The clients that bought more than once represents " +
str(round((df_good_clients['order_price'].sum()/df_info_clients['order_price'].sum())*100,2))+
"% of the billing")

The clients that bought more than once represents 21.7% of the billing

*DESCONSIDERED*

## 3.2) Creating Features

I will create a dataframe of clients with the following features:
- Client ID
- Client State
- Client city 
- Number of orders
- Frquency of orders per month: number of orders divided by the difference between the date of the first order and the last one
- Mean of the price of the order
- Mean of the reviews

In [52]:
df_clients = df_info_clients.groupby(['client_id', 'client_state', 'client_city']).agg(
    {'client_id': 'count', 'order_price': 'mean', 'review': 'mean', 'order_date': ['min',  'max']}).rename(
    columns={'client_id': 'number_orders', 'order_price': 'mean_price', 'review': 'mean_review', 'min': 'min_order_date', 'max': 'max_order_date'}).reset_index()
df_clients.head()

                          client_id client_state   client_city number_orders  \
                                                                       count
0  00012a2ce6f8dcda20d059ce98491703           SP        osasco             1
1  000161a058600d5901f007fab4c27140           MG   itapecerica             1
2  0001fd6190edaaf884bcaf3d49edf079           ES  nova venecia             1
3  0002414f95344307404f0ace7a26f1d5           MG      mendonca             1
4  000379cdec625522490c315e70c7a9fb           SP     sao paulo             1

  mean_price mean_review          order_date
        mean        mean      min_order_date      max_order_date
0      89.80         1.0 2017-11-14 16:08:26 2017-11-14 16:08:26
1      54.90         4.0 2017-07-16 09:40:32 2017-07-16 09:40:32
2     179.99         5.0 2017-02-28 11:06:43 2017-02-28 11:06:43
3     149.90         5.0 2017-08-16 13:09:20 2017-08-16 13:09:20
4      93.00         4.0 2018-04-02 13:42:17 2018-04-02 13:42:17

In [53]:
df_clients['diff_days'] = ((df_clients['order_date']['max_order_date'] - df_clients['order_date']['min_order_date']).dt.days)
df_clients['frequency'] =  round(df_clients['number_orders']['count']/df_clients['diff_days'],2)

In [54]:
df_clients[df_clients['number_orders']['count']>1]

                              client_id client_state    client_city  \

12     00066ccbe787a588c52bd5ff404590e3           RS  novo hamburgo
15     000bf8121c3412d3057d32371c5d3395           SP        jacarei
16     000e943451fc2788ca6ac98a682f2f49           RS       colorado
22     001051abfcfdbed9f87b4266213a5df1           SP      sao paulo
28     001450ebb4a77efb3d68be5f7887cb1e           SP         ibiuna
...                                 ...          ...            ...
97208  fff168ca1f8a1d2e8e2108b231a68a8c           SP      sao paulo
97214  fff3a5c6d542d52b05f7e4518adf996e           MS       anhandui
97225  fff93c1da78dafaaa304ff032abc6205           SP     araraquara
97229  fffecc9f79fd8c764f843e9951b11341           RS         parobe
97232  ffffa3172527f765de70084a7e53aae8           MG        alfenas

      number_orders mean_price mean_review          order_date  \
              count       mean        mean      min_order_date
12                4  49.900000         1.0 2018-02-06 16:10:09
15                2  15.000000         5.0 2017-10-11 07:44:31
16                4  89.900000         4.0 2017-04-20 19:37:14
22                3  49.970000         4.0 2018-05-30 09:19:31
28                2  18.820000         2.0 2018-02-26 08:35:13
...             ...        ...         ...                 ...
97208             3  15.900000         5.0 2018-07-20 16:25:59
97214             3  69.000000         5.0 2018-02-18 21:48:22
97225             3  66.296667         5.0 2018-06-13 01:57:22
97229             3  54.900000         3.0 2018-03-29 16:59:26
97232             2  10.900000         5.0 2017-09-02 11:53:32

                          diff_days frequency
           max_order_date
12    2018-02-06 16:10:09         0       inf
15    2017-10-11 07:44:31         0       inf
16    2017-04-20 19:37:14         0       inf
22    2018-05-30 09:19:31         0       inf
28    2018-02-26 08:35:13         0       inf
...                   ...       ...       ...
97208 2018-07-20 16:25:59         0       inf
97214 2018-02-18 21:48:22         0       inf
97225 2018-06-13 01:57:22         0       inf
97229 2018-03-29 16:59:26         0       inf
97232 2017-09-02 11:53:32         0       inf

[12728 rows x 10 columns]

In [55]:
df_clients['frequency'] = None

In [56]:
df_clients.head()

                          client_id client_state   client_city number_orders  \
                                                                       count
0  00012a2ce6f8dcda20d059ce98491703           SP        osasco             1
1  000161a058600d5901f007fab4c27140           MG   itapecerica             1
2  0001fd6190edaaf884bcaf3d49edf079           ES  nova venecia             1
3  0002414f95344307404f0ace7a26f1d5           MG      mendonca             1
4  000379cdec625522490c315e70c7a9fb           SP     sao paulo             1

  mean_price mean_review          order_date                     diff_days  \
        mean        mean      min_order_date      max_order_date
0      89.80         1.0 2017-11-14 16:08:26 2017-11-14 16:08:26         0
1      54.90         4.0 2017-07-16 09:40:32 2017-07-16 09:40:32         0
2     179.99         5.0 2017-02-28 11:06:43 2017-02-28 11:06:43         0
3     149.90         5.0 2017-08-16 13:09:20 2017-08-16 13:09:20         0
4      93.00         4.0 2018-04-02 13:42:17 2018-04-02 13:42:17         0

  frequency

0      None
1      None
2      None
3      None
4      None

In [59]:
df_info_clients['client_id'].value_counts()

270c23a11d024a44c896d1894b261a83    63
13aa59158da63ba0e93ec6ac2c07aacb    38
9af2372a1e49340278e7c1ef8d749f34    29
92cd3ec6e2d643d4ebd0e3d6238f69e2    26
63b964e79dee32a3587651701a2b8dbf    24
                                    ..
20fd1d3f2cd5764f96b64c33263a57fd     1
33a3023585bff9c06044bdcd92c95b4b     1
f3576e2845514e8c7a3a89fd7691c745     1
525386e5496dcb6a38723359f7450144     1
c61336d6c835632048f973d2f2db598d     1
Name: client_id, Length: 97233, dtype: int64